* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;

  font-size: 62.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  padding: 1rem;
  flex-shrink: 0;
}

nav ul {
  justify-content: flex-end;
}

nav ul li {
  font-size: 0.8rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.logo {
  font-family: "Source Serif Pro", serif;
  font-size: 4rem;
}

footer {
  background-color: rgb(233, 231, 231);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  font-size: 0.8rem;
  flex-shrink: 0;
}

.footer1 {
  padding: 0.5rem;
}

.footer2 {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
